﻿<%@ Master Language="C#" %>
<%@ Import Namespace="System.Data" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
     void Page_Load()
    {
        if (HttpContext.Current.User.Identity.Name == "")
        {
            lblUser.Visible = false;
            logOutBtn.Visible = false;
        }
        else
        {
            lblUser.Visible = true;
            logOutBtn.Visible = true;
            lblUser.Text = "Welcome, " + HttpContext.Current.User.Identity.Name;
        }
        
    }
    void Logout_Click(object sender, EventArgs e)
    {
        FormsAuthentication.SignOut();
        //Response.Redirect("~/Login.aspx");
        Server.Transfer("~/Login.aspx");
    }
    
    void showEvent(object sender, DayRenderEventArgs e)
    {
        if (Calendar1.SelectedDate.ToShortDateString().Equals("1/01/0001"))
        {
            EventDataSource.SelectCommand = "SELECT * FROM Event WHERE EventDate = #" + Calendar1.TodaysDate + "#";
            DataView dv = (DataView)EventDataSource.Select(DataSourceSelectArguments.Empty);
            if (dv.Count > 0)
            {
                eventTitle.Text = dv[0]["EventTitle"].ToString();
                eventDesc.Text = dv[0]["EventDescription"].ToString();
                eventTime.Text = dv[0]["EventTime"].ToString().Substring(11);
                Calendar1.TodayDayStyle.BackColor = System.Drawing.Color.LightYellow;
            }
            else
            {
                eventTitle.Text = "No Events Scheduled for Today";
            }
        }
        else
        {
            EventDataSource.SelectCommand = "SELECT * FROM Event WHERE EventDate = #" + Calendar1.SelectedDate + "#";
            DataView dv = (DataView)EventDataSource.Select(DataSourceSelectArguments.Empty);
            if (dv.Count > 0)
            {
                eventTitle.Text = dv[0]["EventTitle"].ToString();
                eventDesc.Text = dv[0]["EventDescription"].ToString();
                eventTime.Text = dv[0]["EventTime"].ToString().Substring(11);
            }
            else
            {
                eventTitle.Text = "No Events Scheduled for Today";
            }
        }
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="~/Ass2/Styles/main.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <!-- Header -->
        <div id="header">
            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Ass2/index.aspx"><asp:Image ID="Image1" runat="server" ImageUrl="~/Images/phonehublogo.png" /></asp:HyperLink>
         </div>
         <div id="welInfo">
            <asp:label id="lblUser" runat="server"/>
            <asp:button CssClass="button" ID="logOutBtn" text="Logout" OnClick="Logout_Click" runat="server" CausesValidation="false"/>
         </div>
        <div class="clear">
            <p></p>
        </div>
    <div id="wrapper">
         <!-- Side Bar -->
         <div id="sideBar">
             <asp:Menu ID="Menu1" runat="server" DataSourceID="SiteMapDataSource1" SkinID="menu" >
             </asp:Menu>
             <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" 
                 SiteMapProvider="MyAss1SiteMapProvider" />
             <hr />
             <h3>
                Featured Reviews
             </h3>
             <p><b><a href="#" class="featuredRev" >MEIZU MX3, the new dream of J.Wong...</a></b></p>
             <p><a href="#" class="featuredRev" >Samsung Galaxy Mega 6.3 Uboxing...</a></p>
             <p><a href="#" class="featuredRev" >New Youtube app review...</a></p>
             <asp:Calendar ID="Calendar1" runat="server" SkinID="calendar" CssClass="calendar" OnDayRender="showEvent" >
             </asp:Calendar>
             <asp:AccessDataSource ID="EventDataSource" runat="server" 
                 DataFile="~/App_Data/Event.accdb" ></asp:AccessDataSource>
            <br />
            <div id="EventsArea">
                <h4 id="eventLabel">Events:</h4>
                <b><asp:Label ID="eventTitle" runat="server" Text=""></asp:Label></b><br />
                <asp:Label ID="eventTime" runat="server" Text=""></asp:Label><br />
                <asp:Label ID="eventDesc" runat="server" Text=""></asp:Label>
            </div>

         </div>
         <!-- Content -->
        <div id="pageContent">
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
            
            </asp:ContentPlaceHolder>
        </div>
        <div class="clear">
            <p></p>
        </div>
    </div>
    <!-- Footer -->
        <div id="footer">
            <p>
                Copyright &copy; 2013 Yingliang Zhang
            </p>
        </div>
    </form>
</body>
</html>
