﻿/* Global styles */
body 
{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: White;
    background: url(../../Images/background1.png) no-repeat fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5 
{
    color: #C0392B;
    font-weight: lighter;
}

p
{
    font-family: Cambria;
}

a 
{
    color: #bdc3c7;
    text-decoration: none;
    border-bottom: 1px dashed #bdc3c7;
}

#wrapper
{
    width: 950px;
    margin: 30px auto;
    background-color: rgba(10, 10, 10,0.7);
}

#pageContent 
{
    width: 660px;
    float: right;
    padding: 20px;
    margin-top: 30px;
}

/* Header styles */
#header 
{
    margin-top: 20px;
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: rgba(192, 57, 43,0.9);
    
}

#header a
{
    border: none;
}

/* Sidebar styles */
#sideBar 
{
    width: 200px;
    float: left;
    padding: 20px;
}

#sideBar a
{
    border: none;
}

a.featuredRev
{
    color: White;
    text-decoration: underline;
}

.calendar a
{
    text-decoration: none;
}

/* Registration form styles */
table#registerForm 
{
    width: 640px;
    margin-left: 20px;
}

table#registerForm td
{
    padding: 8px 8px;
}

.firstCol 
{
    width: 173px;
}

.validatorCol
{
    font-size: 11px;
    color: #FF2926;
    width: 220px;
}

input[type="text"], input[type="password"]
{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ccc inset;
    box-shadow: 0 0 10px #ccc inset;
    width: 200px;
    padding: 5px;
    outline: none;
    border: 1px solid #DDD;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"]:focus, input[type="password"]:focus
{
    -webkit-box-shadow: 0 0 10px #3498db inset;
    box-shadow: 0 0 10px #3498db inset;
}

select
{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ccc inset;
    box-shadow: 0 0 10px #ccc inset;
    width: 211px;
    padding: 5px;
    outline: none;
    border: 1px solid #DDD;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type=submit]
{
    margin: 10px 0 0 35px;
}

/* Result panel styles */
table#result
{
    border: 1px dashed white;
    width: 500px;
    margin-left: 20px;
}

table#result td
{
    padding: 8px 8px;
}

.resultFirstCol
{
    font-weight: bold;
}

.clear
{
    clear: both;
}

/* Sitemap styles */
#TreeView
{
    margin-left: 20px;
    padding: 10px;
}

#TreeView a
{
     border: none;
}

/* Home page banner styles */
#banner
{
    text-align: center;
}

#banner a
{
    border: none;
}

/* Home page article styles */
#phoneArticles
{
    width: 660px;
    margin-left: 5px;
}

#phoneArticles p
{
    font-size: 14px;
}

#article1
{
    padding: 15px;
    width: 190px;
    float: left;
}

#article2
{
    padding: 15px;
    width: 190px;
    float: left;
}

#article3
{
    padding: 15px;
    width:190px;
    float: left;
}

#bottomInfo
{
    font-family: Cambria;
    font-size: 16px;
    text-align: left;
}

/*-- FAQ page content styles */
#faqs
{
     padding: 20px;
}

dl>dt
{
    font-family: Cambria;
    font-weight: bold;
    font-size: 22px;
}

#faqs hr
{
     border: 0;
     border-bottom: 1px dashed #999;
}

/* About page styles */
#aboutLogo 
{
    width: 150px;
    margin: 15px 20px;
    padding: 120px 30px;
    background-color: #2980b9;
    float: left;
}

#aboutText 
{
    font-family: Cambria;
    font-size: 20px;
    line-height: 1.6em;
}

/* History page styles */
#historyList
{
    font-family: Cambria;
    font-size: 18px;
}

/* Source code page styles */
body#codePage 
{
    text-align: center;
    background-image: none;
    background-color: #34495e;
    color: White;
}

.code
{
    font-family: Courier;
    font-size: 15px;
    text-align: left;
    border: 1px dashed white;
    padding:10px;
    margin:20px 0 20px 120px;
}

h1#codePageHeader 
{
    color: #3498db;
    font-family: Corbel;
    font-size: 40px;
}

#FileName 
{
    color: #f1c40f;
}

/* Footer styles */
#footer
{
    font-size: 12px;
    background-color: rgba(10, 10, 10,0.7);
    text-align: center;
    padding: 3px 3px;
    margin-bottom: 30px;
}