﻿/* Global styles */
body 
{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: White;
    background: url(../../Images/background1.png) no-repeat fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    line-height: 1.5em;
}

body#codePage, body#displayRecordPage, body#SearchRecordsPage
{
    text-align: center;
    background-image: none;
    background-color: #34495e;
    color: White;
}

h1, h2, h3, h4, h5 
{
    color: #C0392B;
    font-weight: lighter;
}

p
{
    font-family: Cambria;
}

a 
{
    color: #bdc3c7;
    text-decoration: none;
    border-bottom: 1px dashed #bdc3c7;
}

a.blueImgBtn
{
    border: none;
}

#wrapper
{
    width: 950px;
    margin: 30px auto;
    background-color: rgba(10, 10, 10,0.7);
}

#pageContent 
{
    width: 660px;
    float: right;
    padding: 20px 20px 20px 0;
    margin-top: 30px;
}

/* Header styles */
#header 
{
    margin-top: 20px;
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: rgba(192, 57, 43,0.9);
    
}

#header a
{
    border: none;
}

#welInfo
{
    width: 300px;
    float: right;
    text-align: right;
    margin: 0 30px -30px 0;
}

#logOutBtn
{
    width: 100px;
}

/* Sidebar styles */
#sideBar 
{
    width: 230px;
    float: left;
    padding: 20px;
}

#sideBar a
{
    border: none;
}

a.featuredRev
{
    color: White;
    text-decoration: underline;
}

.calendar a
{
    text-decoration: none;
}

#eventLabel
{
    color: Black;
    background-color: #c0392b;
    padding: 3px;
    margin-bottom: 10px;
}

#eventDesc, #eventTime
{
    font-size: 12px;
}

#Calendar1
{
    font-size: 14px;
}

/* Registration form styles */
table#registerForm 
{
    width: 640px;
    margin-left: 20px;
}

table#registerForm td
{
    padding: 8px 8px;
}

.firstCol 
{
    width: 173px;
}

.validatorCol
{
    font-size: 11px;
    color: #FF2926;
    width: 220px;
}

input[type="text"], input[type="password"]
{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ccc inset;
    box-shadow: 0 0 10px #ccc inset;
    width: 200px;
    padding: 5px;
    outline: none;
    border: 1px solid #DDD;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"]:focus, input[type="password"]:focus
{
    -webkit-box-shadow: 0 0 10px #3498db inset;
    box-shadow: 0 0 10px #3498db inset;
}

select
{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ccc inset;
    box-shadow: 0 0 10px #ccc inset;
    width: 211px;
    padding: 5px;
    outline: none;
    border: 1px solid #DDD;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type=submit]
{
    margin: 10px 0 20px 30px;
}

input#ContentPlaceHolder1_JoinButton
{
    width: 80px;
}

.whereHeardValueLabel 
{
    display: none;
    margin-left: 200px;
}
/* Result panel styles */
table#result
{
    border: 1px dashed white;
    width: 500px;
    margin-left: 20px;
}

table#result td
{
    padding: 8px 8px;
}

.resultFirstCol
{
    font-weight: bold;
}

.clear
{
    clear: both;
}

/* Sitemap styles */
#TreeView
{
    margin-left: 20px;
    padding: 10px;
}

#TreeView a
{
     border: none;
}

/* Home page banner styles */
#banner
{
    text-align: center;
}

#banner a
{
    border: none;
}

/* Home page article styles */
#phoneArticles
{
    width: 660px;
    margin-left: 5px;
}

#phoneArticles p
{
    font-size: 14px;
}

#article1
{
    padding: 15px;
    width: 190px;
    float: left;
}

#article2
{
    padding: 15px;
    width: 190px;
    float: left;
}

#article3
{
    padding: 15px;
    width:190px;
    float: left;
}

#bottomInfo
{
    font-family: Cambria;
    font-size: 16px;
    text-align: left;
}

/*-- FAQ page content styles */
#faqs
{
     padding: 20px;
}

dl>dt
{
    font-family: Cambria;
    font-weight: bold;
    font-size: 22px;
}

#faqs hr
{
     border: 0;
     border-bottom: 1px dashed #999;
}

/* About page styles */
#ContentPlaceHolder1_aboutLogo 
{
    width: 150px;
    margin: 15px 20px;
    padding: 120px 30px;
    background-color: #2980b9;
    float: left;
}

#aboutText 
{
    font-family: Cambria;
    font-size: 20px;
    line-height: 1.6em;
}

/* History page styles */
#historyList
{
    font-family: Cambria;
    font-size: 18px;
}

/* Source code page styles */
.code
{
    font-family: Courier;
    font-size: 15px;
    text-align: left;
    border: 1px dashed white;
    padding:10px;
    margin:20px 0 20px 120px;
}

h1#codePageHeader, h1#displayPageHeader, h1#searchPageHeader, h1#loginHeader
{
    color: #C0392B;
    font-family: Ubuntu;
    font-size: 40px;
}

#FileName 
{
    color: #f1c40f;
}

/* Display records page styles */
body#displayRecordPage
{
    width: 1280px;
    margin: 0 auto;
}
#ReaderGridView
{
    font-size: 14px;
}
#ReaderDetails 
{
    width: 550px;
    text-align: left;
    padding: 20px;
    margin: 20px 0 20px 400px;
    border: dashed 1px white;
}

a#displayImg
{
    border: none;
}

/* Search records page styles */
#searchInputAera
{
    text-align: left;
    margin-left: 490px;
}

input#btnID, input#btnUsername, input#btnPhone
{
   margin: 0;    
}

#readerResult
{
    border: 1px dashed white;
    padding: 20px;
    margin: 20px 0 20px -90px;
    width: 500px;
}

a#searchImg 
{
    margin-left: 80px;
    border: none;
}

.button
{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	background-color:#f9f9f9;
	border:1px solid #dcdcdc;
	color:#666666;
	font-family:Verdana;
	font-size:14px;
	height:30px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f9f9f9');
	background-color:#cccccc;
}

.button:active {
	position:relative;
	top:1px;
}

/* Login page style */
body#loginPage
{
    background-image: none;
    text-align: center;
    background-color: #222;
}
#loginInputs
{
    margin-left: 490px;
    width: 330px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: #34495e;
}

a#loginImg
{
    margin: 20px 0 20px 0;
}

/* Email page styles */
.error
{
    color: Red;
}

#emailGv
{
    margin-left: 30px;
    text-align: center;
}

table.emailTable, table.emailTable tr, table.emailTable td
{
    border: 1px solid white;
    padding: 7px;
}
table.emailTable
{
    background-color: #5d7b9d;
    color: white;
    border-collapse: collapse;
    margin-left: 30px;
    width: 600px;
}

input#ContentPlaceHolder1_SendMail
{
    margin-left: 260px;
}

/* Footer styles */
#footer
{
    font-size: 12px;
    background-color: rgba(10, 10, 10,0.7);
    text-align: center;
    padding: 3px 3px;
    margin-bottom: 30px;
}