﻿<%@ Page Title="Site Map" Language="C#" MasterPageFile="~/Phonehub.master" StylesheetTheme="SkinFile" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:SiteMapPath ID="SiteMapPath1" runat="server" SiteMapProvider="MyAss1SiteMapProvider">
    </asp:SiteMapPath>
    <h1>
        Site Map
    </h1>
    <hr />
    <!-- Site Map Tree View -->
    <div id="TreeView">
        <asp:TreeView ID="TreeView1" runat="server" DataSourceID="SiteMapDataSource1" SkinID="treeView">
        </asp:TreeView>
        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" 
            SiteMapProvider="MyAss1SiteMapProvider" />
    </div>
</asp:Content>

